#main
  color #59595a
  .modal-header
    background-color #006bb3
    color white
    border-top-right-radius 3px
    border-top-left-radius 3px
    height 30px
    padding 6px
    h1
      text-align center
  .modal-body
    padding 20px
    input
      padding 5px
      width 100%
      border 1px solid gray
      margin 5px 0
      &:focus
        outline none
    .button-wrap
      width 100%
      height 25px
      padding-top 5px
      button
        background-color #006bb3
        color white
        float right
        border none
        border-radius 3px
        padding 5px 15px
        &:focus
          outline none
  .header
    width 100%
    height 50px
    background-color #006bb3
    h1
      color white
      display inline-block
      padding 17px
    button
      background none
      color white
      border none
      margin 15px
      float right
      &:focus
        outline none
  .data
    padding 30px
    .question
      padding-bottom 10px
    .answer
      padding 2px 5px
      input
        position relative
        top 2px
        margin 0 5px
      .result
        display inline-block
        margin 0px 70px
        border 1px solid gray
        padding 0px 20px
        height 20px
        background-color #8bc67e
    .online-wrap
      width 100%
      padding 10px 100px
      h1
        display inline-block
        margin 0px 5px
      .count
        border 1px solid gray
        padding 2px 5px
        line-height 20px
        background-color #ededee
  .clear-button-wrap
    padding 5px 20px
    button
      background-color #006bb3
      color white
      border none
      border-radius 3px
      padding 5px 15px
      &:focus
        outline none
