.modal-alreade-voted-body
  .title
    text-align center
    padding-top 30px
    padding-bottom 30px
  .button-wrap
    width 100%
    height 45px
    button
      background-color #006bb3
      margin-right 20px
      color white
      float right
      border none
      border-radius 3px
      padding 5px 15px
      &:focus
        outline none
